* {
  margin: 0;
  padding: 0;
}
body {
  font-size: 16px;
  font-family: 微软雅黑;
  font-style: normal;
  color: #555;
  margin-top: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
em,
i {
  font-style: normal;
}
ul,
ol,
li {
  list-style: none;
}
img {
  border: none;
  vertical-align: middle;
}
input,
select,
textarea {
  outline: none;
  border: none;
  background: none;
}
textarea {
  resize: none;
}
p {
  line-height: 22px;
}
div,
header,
footer,
input,
select,
table,
tr,
td,
ul,
li,
a {
  box-sizing: border-box;
  border-collapse: collapse;
}
.fl {
  float: left !important;
}
.fr {
  float: right !important;
}
.clear:after {
  clear: both;
  content: '.';
  display: block;
  width: 0;
  height: 0;
  visibility: hidden;
  zoom: 1;
}
header {
  width: 100%;
  overflow: hidden;
  border-bottom: 2px solid #c63636;
  background-color: #f1f1f1;
}
.theme {
  color: #c63636;
}
.bg-theme {
  background-color: #c63636;
}
.w-1204 {
  width: 1204px;
  margin: 0 auto;
  overflow: hidden;
}
.point {
  cursor: pointer;
}
.h-40 {
  height: 40px ;
  line-height: 40px;
  text-align: center ;
}
.navtop {
  width: 100%;
}
.navtop .logobox {
  padding-left: 10px;
  height: 66px;
  line-height: 66px;
  width: 238px;
}
.navtop .logobox .logo {
  margin-top: 8px;
  width: 50px;
  height: 50px;
  background: url("../img/logo.png");
  background-size: cover;
}
.navtop .logobox .name {
  font-size: 30px;
  padding-left: 12px;
  color: #666;
}
.navtop .adminbox {
  height: 50px;
  border-left: 1px solid #ccc;
  line-height: 50px;
  font-size: 20px;
  color: #999;
  margin-top: 8px;
  padding-left: 30px;
}
.navtop .adminbox a {
  text-decoration: underline;
  padding-left: 20px;
  color: #0000ed;
}
.nav {
  border-bottom: 1px solid #999;
  position: relative;
  width: 1120px;
  margin: 0 auto;
  color: #666;
  line-height: 30px;
  font-size: 20px;
}
.nav a {
  width: 160px;
  color: #666;
  text-align: center;
  height: 30px;
}
.nav a .triangle {
  border-top: 10px solid #ffffff;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  position: relative;
  left: 7px;
  top: 19px;
}
.nav a.active {
  background-color: #c63636;
  color: #fff;
}
.nav a:hover {
  background-color: #c63636;
}
.base {
  border: 1px solid #999;
}
.base .menu {
  min-height: 800px;
  height: 100%;
  background-color: #f7f6f5;
  width: 158px;
  font-weight: 700;
}
.base .menu .head {
  background-color: #f7f6f5;
  width: 100%;
  height: 40px;
  color: #15428b;
  border-bottom: 1px solid #999;
}
.base .menu ul.body li {
  color: #555;
  font-size: 16px;
  border-bottom: 1px solid #999;
}
.base .menu ul.body li.active {
  background-color: #c63636;
  color: #fff;
  border-bottom: 1px solid #FFFFFF;
}
.base .content {
  width: 1044px;
}
.base .content .nav {
  height: 40px;
  width: 100%;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  background-color: #f7f6f5;
  padding-top: 5px ;
}
.base .content .nav li {
  display: none;
  border-radius: 5px;
  height: 30px;
  line-height: 30px;
  position: relative;
  width: 130px;
  padding: 0 10px;
  background-color: #c63636;
  margin-right: 10px;
}
.base .content .nav li span.close {
  top: -2px;
  right: 5px;
  position: absolute;
  margin-left: 3px;
  text-align: center;
  font-size: 26px;
  width: 30px;
  height: 30px;
  line-height: 30px;
}
.base .content .part {
  height: 100%;
  min-height: 760px;
}
.base .content .part .query {
  border-bottom: 1px solid #999;
  background-color: #f7f6f5;
}
.base .content .part .query .form {
  margin-right: 10px;
  height: 50px;
}
.base .content .part .query .form strong {
  text-align: right;
  font-size: 16px;
  display: inline-block;
  width: 80px;
  margin-right: 10px;
}
.base .content .part .query .form input[type="text"],
.base .content .part .query .form .date {
  display: inline-block;
  background-color: #fff;
  text-align: center;
  height: 30px;
  margin-top: 10px;
  border: 1px solid #999999;
}
.base .content .part .query .form input {
  width: 100px;
}
.base .content .part .query .form select {
  width: 120px;
  background-color: #fff;
  text-align: center;
  height: 30px;
  margin-top: 10px;
  border: 1px solid #999999;
}
.base .content .part .query .form input[type="date"] {
  width: 120px;
}
.base .content .part .query .btn-box {
  margin-left: 50px;
}
.base .content .part .query .btn-box input[type="button"] {
  border-radius: 5px;
  margin-right: 10px;
  width: 80px;
  height: 30px;
  margin-top: 10px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}
.base .content .part .query .record-btn-box {
  margin-left: 40px;
}
.base .content .part .tab-operation {
  background-color: #f7f6f5;
  height: 46px;
  padding: 8px 10px;
}
.base .content .part .tab-operation ul {
  height: 30px;
}
.base .content .part .tab-operation ul li {
  text-align: center;
  height: 30px;
  line-height: 30px;
  color: #FFFFFF;
  margin: 0 20px;
  width: 100px;
  border-radius: 5px ;
}
.base .content .part .tab-operation .static {
  line-height: 30px;
  height: 30px;
  margin-left: 40px;
}
.base .content .part .tab-operation .static div {
  border-right: 1px solid #999999;
  margin-right: 20px;
}
.base .content .part .tab-operation .static div span.theme {
  display: inline-block;
  min-width: 60px;
  text-align: center;
}
.base .content .part table {
  color: #666;
  width: 100%;
  border: 1px solid #ddd;
  border-collapse: collapse;
}
.base .content .part table tr {
  border-bottom: 1px solid #ddd;
  margin: 0 5px;
}
.base .content .part table tr th {
  background-color: #dddddd;
  font-size: 16px;
  text-align: center;
  height: 46px;
  vertical-align: middle;
  border-bottom: 1px solid #ddd;
}
.base .content .part table tr th input[type="checkbox"] {
  width: 16px;
  height: 16px;
  font-size: 16px;
  display: inline-block;
  -webkit-appearance: checkbox;
  box-sizing: border-box;
  color: #c63636;
}
.base .content .part table tr td {
  border: 1px dotted #f1f1f1;
  text-align: center;
  height: 40px;
  vertical-align: middle;
  border-bottom: 1px solid #ddd;
}
.base .content .part table tr td select {
  color: #666;
}
.base .content .part table tr td input[type="checkbox"] {
  background-color: #fff;
  width: 16px;
  height: 16px;
  font-size: 16px;
  display: inline-block;
  box-sizing: border-box;
}
.base .content .part table tr td input[type="checkbox"]:checked {
  color: #c63636;
}
.base .content .part table tr.active {
  background-color: #eeeeff;
}
.base .content .part .paging {
  margin-top: 174px;
  background-color: #f1f1f1;
  height: 40px;
  padding: 5px 3px;
}
.base .content .part .paging li {
  line-height: 30px;
  height: 30px;
  padding: 0 15px;
  border-right: 1px solid #d2d2d2;
}
.base .content .part .paging li select {
  display: inline-block;
  width: 50px;
  height: 24px;
  border: 1px solid #999999;
}
.base .content .part .paging li input.which-page {
  border: 1px solid #999;
  width: 60px;
  height: 24px;
  text-align: center;
}
.base .content .part .paging li i.go {
  color: #1b6dcf;
}
